@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Raleway&display=swap');
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif; */


:root {
  --white: #ffffff;
  --light-grey: #f4f4f4;
  --dark-grey: #666666;
  --dark: rgb(52, 58, 64);
  --light-steel: #B3C7CE;
  --steel: #607A87;
  --sage: #8FA35D;
  --terracotta: #CC5329;
  --cornflower: #F6BC60;
  --neutral: #F6F6F6;
}

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  color: var(--dark-grey);
  font-size: 1.1rem !important;
  letter-spacing: 1px;
}

/* ******************** NAVBAR ************************ */

.navbar {
  position: fixed;
  z-index: 100;
  height: 7vh;
  visibility: hidden; 
}

.navbar.active {
  visibility: visible;
}

nav {
  /* background-color: #F2F7FA; */
  background-color: var(--light-steel);
}

/* .logo {
  width: 19.25rem;
  margin-top: -20px;
} */

/* **************** Menu Links *********************** */

nav a.nav-link {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--white) !important;
}

/* @media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
} */

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  text-decoration: overline underline;
  text-underline-position: under;
}

.navbar-nav > li > a:hover {
  text-decoration: overline underline;
  text-underline-position: under;
}

.navbar-collapse {
  background-color: var(--light-steel)
}

/* ******************** HEADER ************************ */

.header-wrapper {
  position: relative;
  background: url(./images/background4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--steel);
}

.main-info {
  display: flex;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  bottom: 575px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  text-transform: uppercase;
  font-size: 4rem !important;
  letter-spacing: 3px;
}

.main-info h2 {
  text-transform: uppercase;
  font-size: 1.75rem !important;
}

.headerMenu ul{
  padding: 0;
}

.headerMenu ul li{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 3vh;
}

.headerMenu ul li a{
  color: var(--steel);
  font-weight: bolder;
}

.headerMenu ul li a:hover{
  text-decoration: overline underline;
  text-underline-position: under;
}

/* ********************** MEDIA ********************** */
@media(max-height: 400px) {
  .main-info {
    top: 70vh;
  }
  .header-wrapper {
    background-image: none;
    background-color: var(--neutral);
  }

 }

@media(min-height: 401px) and (max-height: 1000px) {
 .main-info {
   top: 37vh;
 }

}
/* **************** TYPED TEXT *************** */

.typed-text {
  font-size: 2rem;
  margin-top: .25rem;
  color: var(--steel);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

/* **************** PARTICLES *************** */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }

}

/* **************** ABOUT ME *************** */

.aboutMe {
 height: 40vh;
 margin-top: 8vh;
 overflow: hidden;
 height: auto;
}


.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 3vh;
}

.profile-img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  padding: .3rem;
  border: 4px double var(--steel);
  transition: transform .8s ease-in-out;
  display: inline;
}

.profile-img:hover {
  transform: rotate(720deg);
}

.koalaRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  width: 60%;
  font-size: .95rem;
  color: grey;
  letter-spacing: 2px;
}

.about-heading {
  color: var(--steel);
  text-transform: uppercase;
}


@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/* **************** SKILLS *********************** */

.skills {
  text-align: center;
  padding-top: 2rem;
  background: var(--neutral);
  top: 0;
  overflow: hidden;
}

.skills h2 {
  color: var(--steel);
  text-transform: uppercase;
}

.skillsTagline {
  letter-spacing: 2px;
}

.skills .circle {
  position: relative;
  margin: 0.375rem auto;
  border-radius: 50%;
  width: 3.12rem;
  height: 3.12rem;
}

.effect {
  position: relative;
}

.steelCircle {
  background: var(--steel);
}

.sageCircle {
  background: var(--sage);
}

.terracottaCircle {
  background: var(--terracotta);
}

.cornflowerCircle {
  background: var(--cornflower);
}

.skills .icon {
  font-size: 2.25rem;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.skillsLogo {
  height: 30px;
}


/* HOVER EFFECTS */

/* steel circles */
.skills .steelCircle::after, .skills .steelCircle::before {
  border: 3px double var(--steel);
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 3.12rem;
  height: 3.12rem;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.skills .steelCircle:hover::after {
  transform: translate(-7px, -7px);
}

.skills .steelCircle:hover::before {
  transform: translate(-14px, -14px);
}

/* sage circles */
.skills .sageCircle::after, .skills .sageCircle::before {
  border: 3px solid var(--sage);
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 3.12rem;
  height: 3.12rem;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease, height 0.3s ease;
}

.skills .sageCircle:hover::after {
  transform: translate(.75rem, 0);
  height: 20%;
}

.skills .sageCircle:hover::before {
  transform: translate(-.75rem, 0);
  height: 20%;
}

/* cornflower circles */
.skills .cornflowerCircle::after {
  border: 3px solid var(--cornflower);
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 3.12rem;
  height: 3.12rem;
  left: 0;
  bottom: 0;
  transition: width 0.2s, height 0.2s, left 0.2s, bottom 0.2s, border-style 0.3s ease;
}

.skills .cornflowerCircle:hover::after {
  border-style: double;
  width: 3.85rem;
  height: 3.85rem;
  left: -6px;
  bottom: -6px;
}


/* terracotta circles */
.skills .terracottaCircle::after, .skills .terracottaCircle::before {
  border: 3px solid var(--terracotta);
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 3.12rem;
  height: 3.12rem;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.skills .terracottaCircle:hover::after {
  transform: translate(-7px, 7px);
}

.skills .terracottaCircle:hover::before {
  transform: translate(7px, -7px);
}

/* **************** EXPERIENCE *********************** */

.experience {
  padding: 0.7rem;
  position: relative;
  /* z-index: 1; */
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h2 {
  text-transform: uppercase;
  color: var(--steel);
}

.experience-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--light-steel);
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.35rem solid var(--steel);
  background: var(--cornflower);
  margin-top: 0.625rem;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--dark-grey);
  direction: lfr;
}

.timeline-content h4{
  margin-top: 0.3125rem;
  color: var(--steel);
  font-weight: 900;
}

/* ********************** MEDIA ********************** */

@media(max-width: 768px) {

  .experience-wrapper .container{
    padding-left: 0;
  }

  .experience-wrapper:before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;

  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/* ********************** PORTFOLIO ********************** */

.portfolio-wrapper h2 {
  text-transform: uppercase;
  color: var(--steel);
}

.portfolio-wrapper {
  background: var(--neutral);
  padding: 3rem 0;
}

.portfolio-image {
  width: 15rem;
  padding: 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/* ********************** Portfolio Thumbnails ********************** */

.overlay {
  position: absolute;
  opacity: 0;
  background: var(--white);
  width: 15rem;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.portfolio-image-box:hover .overlay {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8.5rem;
  margin-top: 3.5rem;
  color: var(--steel);
  font-size: 2rem;
}

.portfolio-image-box {
  background-color: var(--white);
  border: 5px double var(--light-steel);
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 100%;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.gif-giver-image-box .portfolio-image {
  height: 126px;
  width: 100px;
}

.portfolio-wrapper .container .image-box-wrapper .gif-giver-image-box{
  width: 250px;
  border: 5px double var(--light-steel);
  text-align: center;
}

.gif-giver-image-box svg {
  margin-left: -60px;
}

.train-image-box svg {
  margin: -77px auto 0 105px;
}

/* ********************** POP-UP BOX ********************** */

.popupbox-wrapper {
  text-align: center;
  max-width: 50% !important;
  margin-top: 7rem;
}

.portfolio-image-popupbox {
  width: 40rem;
  max-width: 90%;
  padding: 0 0.5rem 0.5rem 0;
  
}

.hyper-link {
  cursor: pointer;
  color: var(--sage);
}

.hyper-link:hover {
  color: var(--cornflower);
}

/* TRAIN SCHEDULER / PORTFOLIO SECTION */

.train-image-box {
  width: 250px;
}

 .train {
  color: var(--steel);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  width: 75%;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  margin: 0 auto !important;
  font-size: 2.75rem;
  letter-spacing: 7px;
}

.subline {
  color: var(--steel);
  font-size: 1rem;
  width: 68%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto !important;
}

.sublinePopUp {
  max-width: 200px !important;
}

#popUpTime {
  letter-spacing: 0.75rem;
  width: 100vw;
  text-align: center;
}

.trainPopUp {
  color: var(--steel);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  width: 75%;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  margin: 0 auto !important;
  font-size: 2.75rem;
  /* letter-spacing: 7px; */
}


img .gifGiverPopupImg {
  height: 300px !important;
}

/* ********************** MEDIA ********************** */

@media(max-width: 768px) {

  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 570px) {
.popupbox-wrapper {
  height: 100%;
}
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
    .portfolio-image-popupbox {
      width: 30%;
    }
  }

/* ********************** TESTIMONIALS ********************** */

.testimonials {
  background-size: cover;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h2 {
  color: var(--steel);
  padding: 3rem 0;
  text-transform: uppercase;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--light-steel);
}

.myCarousel {
  color: var(--white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1vh;
}

.myCarousel p {
  font-style: italic;
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
  padding: .3rem!important;
  border: 1px solid var(--white)!important;
  margin-bottom: 1vh;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/* ********************** CONTACT ********************** */

.contact {
  background: var(--neutral);
  padding: 3rem 0;
  height: 75vh;
}

.contact h2 {
  color: var(--steel);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contact p {
  color: var(--light-grey);
  font-size: 1.2rem;
}

/* ********************** INPUTS ********************** */

.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125px solid var(--dark-grey);
  border-radius: 0;
  color: var(--dark-grey);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  color: var(--dark);
  border-bottom: 0.125rem solid (var(--dark-grey));
}

.contact textarea {
  height: 12.6rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 30%;
  min-width: 7rem;
  float: right;
  text-decoration: none;
  background-color: var(--steel);
  color: var(--white);
  transition: .2s ease-in-out;
  border-width: 0.5px;
  border-color: var(--steel);
}

.contact-btn:hover {
  background-color: var(--sage);
  color: var(--white);
  transition: .2s ease-in-out;
  border-color: var(--sage);
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--terracotta);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--white);
  background: var(--light-steel);
}

.success-message {
  font-size: 2rem;
  font-style: italic;
  color: var(--dark-grey);
}

/* ********************** MEDIA ********************** */

@media(max-width: 768px) {

  .contact {
    overflow-x: hidden;
  }

  .contact .container {
    padding: 0 1rem;
  }

  .contact p {
    padding: 0 0.6rem;
 }

}

 /* ********************** FOOTER ********************** */

 .footer {
   background: var(--steel);
   color: var(--white);
   padding: 3rem;
 }

 .footer a {
   text-decoration: none;
   color: var(--white);
 }

 .footer a:hover {
   cursor: pointer;
   color: var(--white);
 }

 .footer p {
   margin-bottom: 0;
 }

 .footerIcon {
   margin: 0 1vw;
 }

 .github:hover {
   color: var(--cornflower);
 }

 .linkedin:hover {
   color: var(--sage);
 }

